/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
$border: solid black;


header {
  background: $primary-background;
  border: $border;
}

.trips {
  border: $border;

  p {
    text-align: center;
  }
}
