/* This is an example of using Sass, otherwise plain CSS works too*/
@import './breakpoints.scss';
@import './variables.scss';
@import './mixins.scss';

header {
  background: $primary-background;
  border: $border;
  @include round-corners(10px);
}

.trips {
  border: $border;
  margin: .2em .2em .2em 0;
  @include round-corners(10px);
  // top right bottom left

  // border-radius: 1px;

  p {
    text-align: $center-alignment;
  }
}
